<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Michael Jackson</title>
  <link rel="stylesheet" href="../public/style.css">
</head>
<body>

  <header>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/work">Work</a>
        </li>
      </ul>
    </nav>
  </header>
  
  <img src="../public/michael-jackson-retrato.jpeg" alt="Michael Jackson retrato">
  <h1>Michael Jackson Biografía</h1>

  <p>Michael Joseph Jackson (Indiana, 1958 - Los Ángeles, 2009) fue la máxima estrella del pop durante la década de los 80. Conocido por sus excelentes coreografías, a día de hoy sigue siendo considerado como Rey del Pop, y su disco ‘Thriller’, el más vendido de la historia con alrededor de 65 millones de copias.</p>

  <p>Michael fue el octavo de sus 10 hermanos y, con solo 6 años (1964) entró a formar parte del grupo familiar The Jackson 5, del que pronto se convirtió en líder y vocalista. Estos fueron años duros para él, pues según confesó sufría continuos maltratos de su padre. Sin embargo, para la banda fue todo lo contrario: de la mano de la discográfica Motown, experimentó un ascenso que los lanzó al estrellato y les supuso cientos de conciertos y actuaciones televisivas.</p>

  <p>En 1971, todavía vinculado a The Jakson 5, Michael da sus primeros pasos como solista con los álbumes Got to be there (1971) y Ben (1972), a los que siguieron Music and Me (1973) y Forever, Michael (1975).</p>

  <p>Tras este último disco de su líder, la banda fichó por Epic Records bajo el nombre The Jacksons. Michael continuó colaborando hasta 1985, aunque progresivamente iba desarrollando su carrera en solitario, especialmente tras su participación en la película El Mago, en la que cantaba a dúo con Diana Ross y que le reportó gran popularidad. A raíz de este film, el director musical, Quincy Jones, asombrado por su gran talento, respaldó su carrera con el álbum Off the Wall (1979), del que extrajo singles como Rock with You o Don't Stop 'Til You Get Enough.</p>

  <p>El éxito de este disco, que vendió 8 millones de copias y obtuvo 8 Grammys, dio paso a su siguiente trabajo, Thriller (1982), formado por 9 canciones de las que 7 de ellas alcanzaron rápidamente las primeras posiciones de las listas británicas y norteamericanas. De este disco destacan los singles Thriller, Beat it o Billie Jean por sus espectaculares vídeos, así como The Girl Is Mine y Say Say Say (cantados junto a Paul McCartney).</p>

  <p>A pesar de su fama en solitario, en los años consecutivos Michael continuó colaborando en conciertos con The Jacksons, al tiempo que participaba en proyectos como la grabación del single We are the World (compuesto por él y Lionel Ritchie) en la que colaboraron artistas como Tina Turner, Bob Dylan, Bruce Springsteen, Ray Charles o Stevie Wonder y cuyos beneficios se destinaron a frenar el hambre y las enfermedades en África. Sin embargo, aun encabezando amplios proyectos solidarios y siendo el artista que mayores donaciones humanitarias ha realizado, sus excentricidades, preocupación por su aspecto físico y las acusaciones de pedofilia comenzaron a hacer mella en su imagen.</p>

  <p>Bad (1987) fue el siguiente disco del artista, ya centrado en su carrera en solitario, que obtuvo un éxito similar al anterior. Tras él publicó su autobiografía, Moonwalk, protagonizó el film Moonwalker y comenzó la construcción de su famoso rancho Neverland (por la película Peter Pan) en el que había una mansión, un cine, parque de atracciones y zoo.</p>

  <p>En 1991 lanzó Dangerous con singles como Black or White, que volvieron a ocupar las primeras posiciones en las listas, pero sus éxitos musicales quedaron ensombrecidos por algunas acusaciones de pederastia que el artista solventó con acuerdos extrajudiciales, a pesar de resultar falsas. Este asunto le supuso un retiro durante el que se casó en secreto con Lisa Marie Presley, hija de Elvis Presley. El matrimonio duró solo 2 años, tras los que volvió a casarse con Debbie Rowe, una enfermera con la que tuvo tres hijos, de los que se quedó con la custodia tras su divorcio y llegar ambos a un acuerdo.</p>

  <p>El siguiente trabajo de Michael sería un disco doble titulado HIStory: Past, Present and Future, Book I (1995). Se trató de una recopilación de 15 grandes éxitos y algunas canciones nuevas (una de ellas junto a su hermana Janet Jackson ), y el disco doble más vendido de la historia.</p>

  <p>Invincible , en 2001, fue su décimo trabajo discográfico, que volvió a sumar millones de copias vendidas, un disco tras el que comenzaría para él un auténtico calvario de denuncias de abusos sexuales a menores. El artista pagó 3 millones de dólares ante la primera acusación, quedando en libertad provisional, y acudió a numerosos juicios frente a las siguientes, siendo finalmente absuelto de todos los cargos. Durante estos años la imagen del Rey del Pop ya se encontraba muy deteriorada, y sus problemas con la justicia llevaron a la clausura de su rancho.</p>

  <p> Para solventar sus problemas económicos lanzó los recopilatorios King of Pop (2008) y Thriller 25 (2008), y anunció la gira This is it, que no llegó a realizar debido a su repentina muerte en junio de 2009, (se publicó el documental del mismo nombre con los ensayos). Su fallecimiento causó una gran conmoción mundial y estuvo rodeado de polémica, descubriéndose tras una autopsia de 2 meses que fue provocada por una intoxicación del anestésico propofol en combinación con otros medicamentos que le fueron suministrados por su médico personal Conrad Murray.</p>

  <p>La industria musical se despidió de Michael Jackson el 6 de julio de 2009 con un multitudinario funeral celebrado en el estadio Staples Center que se convirtió en un homenaje a su música en el que estuvieron presentes sus familiares más allegados y todas las personas importantes en su vida.</p>

  <p>Su entierro tuvo lugar el 3 de septiembre de 2009 en el cementerio Forest Lawn de Glendale de Los Ángeles, en el que estuvieron presentes algunos de sus amigos más íntimos como Steve Wonder,, Brooke Shields, Stevie Wonder, Elizabeth Taylor, Diana Ross y su ex mujer Lisa Marie Presley.</p>

  <a href="https://www.fnac.es/Michael-Jackson/ia58571/biografia">(Información sacada de Fnac)</a>


</body>
</html>