<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Michael Jackson</title>
</head>
<body>

  <header>
    <nav>
      <ul>
        <li>
          <a href="./home.html">Home</a>
        </li>
        <li>
          <a href="./about.html">About</a>
        </li>
        <li>
          <a href="./work.html">Work</a>
        </li>
      </ul>
    </nav>
  </header>

  <section>
    <h1>"Hi Hiii...Uhhh"</h1>
    <h2>Michael Jackson</h2>
    <h5>Sus pies se deslizan por un mundo surrealista que parece pintado por Dalí pero que te muestran la verdad del mundo real.</h5>
  </section>

</body>
</html>